html, body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, p {
    text-align: center;
}

.navigation-div {
    float: left;
    position: fixed;
    height: 800px;
    width: 350px;
}

#heroes-list {
    margin-left: -40px;
}

.bottom-border-div {
    margin-top: -10px;
    background-color: transparent;
    position: fixed;
}

.photo-div {
    height: 100px;
    width: 100px;
    background-color: black;
    margin-left: 95px;
    margin-top: 60px;
}

.info-div {
    width: 110px;
    margin-left: 120px;
    margin-top: 10px;
    border-color: transparent;
}

.photo-info {
  padding: 0 3px;
}

.contact-info:focus {
  outline: 0;
}

.body-div {
    float: right;
    text-align: right;
    height: 100%;
    width: 72%;
    position: relative;
    margin: auto;
}

#main-page, #black-panther, #storm, #luke-cage, #miles-morales {
    background-color: white;
}