* {
  text-align: center;
}

body {
  background-color: #f0ead6;
}

h1, h2, h4 {
  font-family: 'Yellowtail', cursive;
}

h2 {
  color: gold;
}

#reset, #terminate, #come-back {
  background-color: red;
  font-family: 'Yellowtail', cursive;
  font-size: 20px;
  color: gold;
  border-radius: 15%;
}

#reset:focus {
  outline: 0;
}

.side-left{
  float: left;
  width: 300px;
  margin-left: -300px;
  margin-top: 70px;
}

.side-right{
  float: right;
  width: 900px;
  margin-right: -300px;
}

div{
  outline-style: transparent;
  outline-width: thin;
  display: inline-block;
  position: relative;
}

#etch-a-sketch-border{
  position: relative;
  background-color: red;
  height: 600px;
  width: 650px;
  border-radius: 5%;
}

#container{
  height: 430px;
  width: 600px;
  font-size: 0;
}

.circle{
  background-color: white;
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

#left-circle{
  position: absolute;
  margin-top: 5px;
  margin-left: -570px;
  box-shadow: 0 4px;
}

#right-circle{
  position: relative;
  margin-top: 6px;
  margin-right: -570px;
  box-shadow: 0 4px;
}

.grid-box{
  height: 60px;
  width: 60px;
  border: transparent;
  padding: 0px;
  background-color: lightgray;
}
